*.log
tmp/
**/*.o
**/*.so
main
.ccls
.ccls-cache/*
.cache
.dir-locals.el
build.sh
compile_commands.json
TAGS
benchmark
unit-tests
.gdb_history
core.*
flamegraph.pl
graph.svg
nonproj.supp
out.folded
out.perf
perf.data
perf.data.old
shared/
static/
valgrind-out.txt
stackcollapse.pl
